@import "https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700";
@import "https://fonts.googleapis.com/css?family=Lato:300,regular,500,700,800,900";
@import "https://fonts.googleapis.com/css?family=Roboto:regular";
@import "https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: black;
  font-family: Lato;
  overflow-x: hidden;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;

}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.App {
  font-family: Lato;
  width: 100vw;
  height: 746px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
    90deg,
    rgb(57, 6, 150) 2.638%,
    rgb(140, 18, 154) 100%
  );
}

.main_btn {
  width: 147px;
  height: 50px;
  background: rgb(120, 157, 216);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgb(119, 157, 216);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background: rgb(98, 150, 226);
  }
}

/* ----- BurgerMenu ----- */
.burger_menu {
  display: none;
  width: 32px;
  height: 30px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.burger_menu span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  border-radius: 2.86px;
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}

.burger_menu span:nth-child(3) {
  width: 30px;
}

.burger_menu span:nth-last-of-type(2) {
  top: calc(40% - 7px);
  width: 17px;
  left: 8px;
}

.burger_menu span:nth-last-of-type(3) {
  top: calc(60% + 7px);
  width: 15px;
  left: -8px;
}
// -------- Main --------
.main {
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &_content {
    margin: 30px 0px;
    max-width: 50%;
  }
}
.main_content__title {
  width: 793px;
  height: 173px;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0%;
}
.main_content__text {
  width: 590px;
  height: 173px;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 36px;
  font-weight: 300;
  line-height: 43px;
  letter-spacing: 0%;
  margin: 24px 0px;
}
.main_photo {
  width: 703px;
  height: 656px;
}

// -------- Cards --------



.block_services {
  width: 1180px;
  height: 670px;
}

.cards_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  width: 360px;
  height: 310px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  transition: transform 0.2s;
  text-align: center;
  &:hover {
    transform: translateY(-5px);
  }
}

.card img {
  width: 56.89px;
  height: 64px;
  margin: 32px 0px 20px 0px;
}

.title {
  color: rgb(51, 51, 51);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

.text_services {
  height: auto;
  color: rgb(51, 51, 51);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  text-align: center;
  margin: 0 auto;
}

.card_link {
  color: rgb(16, 116, 216);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0%;
  text-align: center;
  display: block;
  margin-top: 20px;
  &:hover {
    color: rgb(5, 76, 148);
  }
}
