@media screen and (max-width: 980px) {
  .burger_menu {
    display: block;
    position: relative;
    z-index: 6;
  }

  .auth_button {
    margin: 0px 0px 0px 50px;
  }

  .language-selector {
    margin: 50px 0px -50px 50px;
  }

  .menu {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 100px;
    padding-right: 45px;
    transform: translateX(150%);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .menu.active {
    transform: translateY(0);
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 50px;
    gap: 40px;
  }

  .burger_menu.active span:nth-of-type(3) {
    opacity: 0;
  }

  .burger_menu.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .burger_menu.active span:first-of-type {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .main_content {
    z-index: 10;
  }
  .main_content__title {
    width: 637px;
    font-size: 36px;
  }
  .main_content__text {
    // width: 642px;
    height: 87px;
    font-size: 24px;
  }
  .main_photo {
    width: 488px;
    height: 455px;
  }
}

@media screen and (max-width: 580px) {
  .menu {
    width: 100%;
    left: 0;
  }
  .header .auth_button {
    flex-direction: column;
    margin: -50px 0px 0px 50px;
  }
  .menu-item:nth-child(4) {
    text-align: center;
  }
}
